RewriteEngine On

# Si on demande un fichier qui existe à la racine (rare), on le laisse passer
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on envoie tout vers le dossier public
RewriteRule ^(.*)$ public/$1 [L]